*.classpath
*.prefs
*.MF
*.project
*.class
*/target/classes/*
*/.settings/*
*/target/*
*/node_modules/*
*/coverage/*
.idea/*
target
.idea
*.iml
*.springBeans
*/dist/*
*.db.script
*.db.properties
*.db.lck
*.mv.db
*.db.log
/.metadata/
/.metadata/
.settings/*
.maven/*
.mvn/*
